<%= form_for(bankaccount) do |f| %>
  <% if bankaccount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bankaccount.errors.count, "error") %> prohibited this bankaccount from being saved:</h2>

      <ul>
      <% bankaccount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_type %>
    <select name="bankaccount_account_type" id="bankaccount_account_type">
      <%= options_for_select([['Private Account', 1], ['Business Account', 2]]) %>
    </select>
  </div>

  <div class="field">
    <%= f.label :balance %>
    <%= f.text_field :balance %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
