<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Brith:</strong>
  <%= @client.brith %>
</p>

<h2>List of bankaccounts</h2>
<table>
  <thead>
  <tr>
    <th>Type</th>
    <th>Balance</th>
    <th>Bank ID</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @bankaccounts.each do |bankaccount| %>
      <tr>
        <td><%= bankaccount.account_type %></td>
        <td><%= bankaccount.balance %></td>
        <td><%= bankaccount.banks_id %></td>
        <td><%= link_to 'Show', bankaccount %></td>
        <td><%= link_to 'Edit', edit_bankaccount_path(bankaccount) %></td>
        <td><%= link_to 'Destroy', bankaccount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
